<!--<em>Hello, I'm a normal rails view</em>-->
<!--<body>-->
<!--<h1 for="todo">Todoly</h1>-->
<!--<input type="text" id="todo" /><br>-->
<!--<input type ="submit" id="submit" value="Create Todo"/>-->

<!--</body>-->



<!--<h1>Todoly</h1>-->

<!--<form>-->
  <!--<label></label>-->
  <!--<input type="text"/><br>-->
  <!--<input type="submit" id="submit" value="Create Todo"/>-->
<!--</form>-->

<!--<h1>Todos!</h1>-->

<!--<div id="status-area"></div>-->